/* 
.navbr ul li {
    display: inline-block;
    padding: 33px;
}

.menu-top-menu-container {
    float: right;
}

.navbr ul li {
    display: inline-block;
    padding: 10px;
}
p.aaaa {
    color: red;
} */